body{
  margin: 0;
  padding: 0;
}

header{
  margin: 10px;
  position: relative;
}

.container{
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;}
/*.container{
  display: flex;
  background-color: #afafaf;
  flex-direction: column;}
.row{
  background-color: #e5e5e5;
  flex:1;
  display: flex;
  flex-direction: row;}

.square{
  background-color: #cacaca;
  flex:1;
  display: flex;
  text-align: stretch;
  justify-content: center;
  flex-flow: column wrap;}*/



header{
    color: white;
    max-height: 72.0px;
    line-height: 24.0px;
    width: 100%;}
.leftheader{
    position:absolute;
    float: left;
    font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 80%;
    font-weight: bold;

    }
.rightheader{
    position:absolute;
    right:0;
    font-family:  'Benton Bold';
    font-size:11.25px;
      /*position:absolute;
      right:0px;
      padding-right:10px;*/
    }
.thumbnail{
  width: 100%;
  /*height: 100%;*/

}
.label{
  font-family:  Arial, Helvetica, sans-serif;
  /*font-size: 18px;*/
  font-size: 80%;
  font-weight: bold;
  display: block;
  overflow: hidden;
  max-height: 72.0px;
  line-height: 24.0px;
  text-align:left;
}
.branding{
  color: #999999;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  padding: 10px 5px;
  /*grid-gap: 3%;
  padding: 10%;*/

}

.grid-container > div {
  padding: 20px 5px;
  font-size: 30px;
  /*padding: 20% 0;
  font-size: 80%;*/
}

.elipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
